/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.lesshst
/.lgd-nfy0
/.local
/.pki
/.profile
/.ssh
/.sudo_as_admin_successful
/.vscode-server
/.wget-hsts
/.xsession-errors
/.xsession-errors.old
/Bookshelf
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos
/bin
/hello